.feedOrderDetails {
  max-width: 640px;
  width: 100%;
  padding: 40px;
}

.ingredientsList {
  box-sizing: border-box;
  margin: 0;
  padding: 0 24px 0 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  max-height: 312px;
  overflow: auto;
}

.ingredientsList::-webkit-scrollbar {
  width: 8px;
}

.ingredientsList::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.ingredientsList::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.ingredientsItem{
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  align-items: center;
}

.ingredientImg {
  width: 65px;
  height: 65px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid #801AB2;
  background-color: #131316;
}

.ingredientPrice {
  display: flex;
  gap: 8px;
}

.ingredientPrice {
  display: flex;
  justify-content: space-between;
}

.orderPrice {
  display: flex;
  align-items: center;
  gap: 8px;
}

.orderNumberDone {
  color: var(--colors-interface-success);
}
