.container {
  display: flex;
  flex-direction: row;
  padding-top: 120px;
}

.form {
  max-width: 480px;
}

.input input {
  color: #8585AD;
}

.handlers {
  display: flex;
  justify-content: flex-end;
}

.containertab {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.navtab {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
}
