.header {
    max-width: 1920px;
    display: flex;
    justify-content: center;
    background-color: #1C1C21;
  }

.logo {
    display: flex;
    align-items: center;
    text-align: center;
}  

.navigation {
    display: grid;
    width: 1280px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    min-height: 88px;
}

.link {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
}

.info {
    display: flex;
    justify-self: flex-start;
}

.account {
    display: flex;
    justify-self: flex-end;
}